@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/dm-sans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/dm-sans/DMSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/dm-sans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/dm-sans/DMSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/dm-sans/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/dm-sans/DMSans-BoldItalic.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222, 83.33%, 97.65%;
    --foreground: 0 0% 3.6%;

    --card: 255 255 255; /* #FFF */
    --card-foreground: 43 54 116; /* #2B3674 */

    --popover: 255 255 255; /* #FFF */
    --popover-foreground: 43 54 116; /* #2B3674 */

    --muted: 222, 83.33%, 97.65%, 1;
    --muted-foreground: 0 0% 45.1%;

    --accent: 248, 56%, 34%;
    --accent-foreground: 210 40% 98%;

    --muted: 244 247 254; /* #F4F7FE */
    --muted-foreground: 163 174 208; /* #A3AED0 */

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 248, 56%, 34%;

    --radius: 0.5rem;

    --primary: 248, 56%, 34%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
  }

  .dark {
    --background: 227.73, 66.67%, 12.94%;
    --foreground: 210 40% 98%;

    --card: 227.06, 60%, 16.67%;
    --card-foreground: 210 40% 98%;

    --popover: 27 37 75; /* #1B254B */
    --popover-foreground: 255 255 255; /* #FFF */

    --muted: 227.5, 47.06%, 20%;
    --muted-foreground: 217.9 32.6% 55.7%;

    --accent: 244.92, 50.83%, 52.94%;
    --accent-foreground: 210 40% 98%;

    --muted: 27 37 75; /* #1B254B */
    --muted-foreground: 163 174 208; /* #A3AED0 */

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 244.92, 50.83%, 52.94%;

    --primary: 244.92, 50.83%, 52.94%;
    --primary-foreground: 210 40% 98%;

    --border: 45 57 107; /* #2D396B */
    --input: 45 57 107; /* #2D396B */
    --ring: 51 38 135; /* #332687 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: 'DM Sans', sans-serif !important;
    font-feature-settings: 'kern' !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.2px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  @apply box-border;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    'DM Sans',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif,
    'Inter',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
